@page "/"

<PageTitle>Index</PageTitle>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        @*<div class = "mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <Carousel/>
        </div>*@
        <div class = "mat-layout-grid-cell mat-layout-grid-cell-span-12">
            <CakeCard/>
        </div>
    </div>
</div>
