@page "/LogIn"


<div class="mat-layout-grid">

    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4"></div>
        <div  class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
             <MatTabGroup>
               <MatTab Label="登录">
                    <Log/>
                </MatTab>
                <MatTab Label="注册">
                    <Register/>
                </MatTab>
            </MatTabGroup>
        </div>
    </div>
</div>

@*@code{
    private string returnUrl = string.Empty;

    protected override void OnInitialized()
    {
        var uri=NavigationManager
    }
}*@