@using System.ComponentModel.DataAnnotations

<EditForm Model="user">
<DataAnnotationsValidator/>

<div class="mat-layout-grid">
	<div class="mat-layout-grid-inner">
		<div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
			<p>
				<MatTextField Label="用户名" @bind-Value="user.Name" FullWidth="true" Outlined="true"/>
				<ValidationMessage For="@(() => user.Name)"/>
			</p>
			<p>
				<MatTextField Label="电话号码" @bind-Value="user.Tel" FullWidth="true" Outlined="true"/>
				<ValidationMessage For="@(() => user.Tel)"/>
			</p>

			<p>
				<MatTextField Label="密码" @bind-Value="user.Password" FullWidth="true" Outlined="true"/>
				<ValidationMessage For="@(() => user.Password)"/>
			</p>

			<p>
				<MatTextField Label="重复密码" @bind-Value="RePassword" FullWidth="true" Outlined="true"/>
				<ValidationMessage For="@(() => user.Password)"/>
			</p>
		</div>

		<div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
		<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
			<MatButton Type="submit" Raised="true">注册</MatButton>
			
		</div>
		<div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
			<MatButton Raised="true" OnClick="Reset">重置</MatButton>
		</div>
		<div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
	</div>

</div>

</EditForm>





@code{

	string RePassword = string.Empty;

	public void Reset()
	{
		user.Name = string.Empty;
		user.Password = string.Empty;
		user.Tel = string.Empty;
	}

	public User user = new()
		{
			Name = string.Empty,
			Tel = string.Empty,
			Password = string.Empty

		};
}
